:root {
  --accent: rgba(223 231 134 / 1);
  font-weight: 300;
}

.black-glass {
  background-color: rgba(0 0 0 / 0.3);
  backdrop-filter: blur(1rem);
}

@media (max-width: 600px) {
  html {
    font-size: 0.5em;
  }
}

header {
  --height: 5rem;

  h1 {
    --spacing: 0.3em;
    font-size: var(--height);
    border-right: 1px solid white;
    padding-right: var(--spacing);
    margin-right: var(--spacing);
    &:hover {
      text-decoration: underline;
      text-decoration-thickness: from-font;
      text-underline-offset: 0.1em;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h2 {
      font-size: 2rem;
    }

    .nav-links {
      display: flex !important;
      flex-direction: row;
      gap: 0 0.8em;
      flex-wrap: wrap;
      font-size: 0.8rem;

      a {
        display: flex !important;
        flex-direction: row;
        gap: 0.2em;
        align-items: center;
      }
    }

    a {
      text-decoration: none;
      font-style: normal;
      color: white;
    }

    a[href]:hover {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }
}

section {
  position: relative;
  padding: 1.7rem;
  border-radius: 0.7rem;

  &:has(.label) {
    padding-top: 3.7rem;
  }

  .label {
    font-size: 0.8rem;
    font-weight: 300;
    opacity: 0.7;
    position: absolute;
    top: 0.7em;
    left: 0.7em;
    opacity: 0.25;
    text-transform: uppercase;
    font-stretch: ultra-expanded;
    letter-spacing: 0.1em;
  }

  .experience-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.3rem;
      gap: 0.5rem;

      & > div:first-child {
        display: flex;
        flex-direction: row;
        align-items: end;
        gap: 0.2rem;

        & > strong {
          font-weight: 300;
          font-size: 4rem;
          line-height: 1em;
        }

        & > sub {
          font-size: 0.8rem;
          opacity: 0.5;
          bottom: 1em;
          margin-left: -0.2rem;
        }
      }

      & > div:last-child {
        opacity: 0.7;
      }
    }
  }

  ul {
    list-style-type: square;
    list-style-position: outside;

    li {
      line-height: 1em;
      margin-bottom: 0.7em;
      margin-left: 1.7rem;
      font-weight: 300;

      &&::marker {
        color: rgba(111, 0, 255, 0.885);
      }

      div {
        font-size: 0.7em;
        color: rgba(255 255 255 / 0.7);
      }
    }
  }
}

figure {
  img {
    display: block;
  }

  figcaption {
    line-height: 1em;
    opacity: 0.7;
    margin-top: 0.1rem;

    a {
      text-decoration: underline;
      text-decoration-style: dotted;

      &:hover {
        text-decoration-style: solid;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-weight: lighter;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.2rem;
}

.card-group {
  --spacing: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing);

  .card {
    --card-color: white;
    border: 1px solid var(--card-color);
    flex: 1;
  }

  .card-title {
    --spacing: 0.3rem;
    background-color: var(--card-color);
    color: black;
    padding: var(--spacing) var(--spacing);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing);
    text-transform: uppercase;
  }

  .card-title svg {
    font-size: 1.5rem;
  }

  .card-list {
    margin: 0;
    padding: 1rem;

    li {
      strong {
        display: block;
        font-size: 1.3em;
        margin-bottom: 0.3em;
        color: white;
      }

      line-height: 1.3em;
      margin-bottom: 0.7rem;
      color: rgba(255 255 255 / 0.7);
    }
  }
}

.button,
button {
  --accent: rgba(223 231 134 / 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: var(--accent);
  background-color: transparent;
  border: 1px solid var(--accent);
  font-size: 1rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--accent);
    color: black;
  }
}

mark {
  background-color: var(--accent);
  padding-inline: 0.2rem;
}

a[href] {
  cursor: pointer;
}

footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  height: fit-content;
  padding-right: 0.5rem;
  line-height: 1em;

  &:hover {
    text-decoration: underline;
    text-decoration-style: solid;
  }

  &:not(:first-child) {
    padding-left: 0.5rem;
    border-left: 1px solid white;
  }
}
